@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Header */
  header {
    padding-bottom: 4%;
  }

  header img {
    width: 200px;
    margin: 0 auto 10px auto;
  }

  /* Nav. bar */
  nav {
    padding: 12px;
  }

  nav a {
    display: inline-block;
    margin: 0 12px;
    font-size: 1.2em;
  }

  nav li {
    display: inline-block;
    border-right: 1px solid #ffffff;
  }

  nav li:last-child {
    border-right: none;
  }

  /* Homepage layout */
  .homepage {
    display: block;
    padding: 20px;
  }

  .content-row {
    display: block;
    padding: 20px;
    margin-bottom: 25px;
  }

  .content-row img {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .side-flag {
  display: none;
}

  /* Footer */
  footer {
    padding: 20px;
    font-size: 1em;
  }
}

img {
  display: block;
  margin: 0 auto;
}